Source: osm2pgsql
Maintainer: Paul Norman <penorman@mac.com>
Section: utils
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               libboost-dev,
               libboost-system-dev,
               libboost-filesystem-dev,
               libboost-thread-dev,
               libbz2-dev,
               zlib1g-dev,
               libgeos-dev,
               libgeos++-dev,
               libpq-dev,
               libxml2-dev,
               libproj-dev,
               libprotobuf-c-dev | libprotobuf-c0-dev (>= 0.14),
               protobuf-c-compiler,
               liblua5.2-dev,
               lua5.2

Package: osm2pgsql
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Recommends: postgis
Description: OpenStreetMap data to PostgreSQL converter
 Convert OSM planet snapshot data to SQL suitable for loading
 into a PostgreSQL database with PostGIS geospatial extensions. This
 database may then be used to render maps with Mapnik or for other
 geospatial analysis.

